<div class="page-header">
  <div class="pull-right">
    <%= link_to 'Add A Recipe', new_recipe_path, class:"btn btn-primary" %>
  </div>
  <h1>All recipes</h1>
</div>

<table class="table">
  <thead>
    <tr>
      <th>Recipe</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <% @recipes.each do |recipe| %>
    <tr>
      <td><%= link_to recipe.title, recipe_path(recipe) %></td>
      <td><%= truncate recipe.description, :length   => 70 %></td>
      <td><%= link_to "edit", edit_recipe_path(recipe) %>&nbsp;&nbsp;&nbsp;</td>
      <td><%= link_to "delete", recipe, method: :delete,
      data: { confirm: "You sure?" } %></td>
    </tr>
    <% end %>
  </tbody>
</table>
