
  <section id="hero-image" style="margin-bottom:30px">
    <div class="container">

<!-- Would like to play with this container id, forcing navbar to bottom of page:
      id="schnook" -->

        <div class="row hero-row">
            <div class=" col-md-8 offset-md-2 text-center hero-image">
                <%= image_tag("jqberry-logo-no-name.svg", title: "JQ logo") %>
            </div>
        </div>
    </div>
  </section>
  <!-- end hero-image -->


  <div class="section-title" style="margin-top:40px; margin-bottom:55px">
    <h1>Software developer</h1>
  </div>
  <div class="section-title" style="margin-bottom:55px">
    <h1>UI/UX consultant</h1>
  </div>
  <div class="section-title" style="margin-bottom:55px">
    <h1>Information designer</h1>
  </div>

  <!-- sticky-wrapper div for navbar is javascripturally created here when user-scrolling
brings navbar to top of viewport  -->


  <nav class="navbar navbar-expand-lg sticky">

<!-- button below is viewable only when viewport width has been shrunk -->

  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#full-navbar-drowdown" aria-controls="full-navbar-drowdown" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fa fa-align-justify"></i>
  </button>

  <div class="d-flex">
  <div class ="mr-auto">
  <%= image_tag("jqberry-text-no-berry.svg", title: "JQ initials", class: "img-fluid", width: "40%") %>
  </div>
  </div>

  <div class="collapse navbar-collapse" id="full-navbar-drowdown">
      <ul class="navbar-nav ml-auto">

          <li><a href="#skills" class="nav-link" id="hoop">SKILLS </a></li>
          <li><a href="#featured-project" class="nav-link" id="hoop2">PORTFOLIO </a></li>
          <li><a href="#softskills" class="nav-link" id="hoop3">SOFT SKILLS </a></li>

          <li class="nav-item dropdown">
              <span class="nav-link dropdown-toggle" id="resume-dropdown-menu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  R&#201;sum&#201;
              </span>
                  <div class="dropdown-menu dropdown-menu-right" aria-labelledby="resume-dropdown-menu">

                    <a class="dropdown-item"> <%= link_to "Raspberry", asset_path("Quesenberry_2018_raspberry_resume.pdf", skip_pipeline: true), class: "dropdown-item-bold", target: "_blank" %></a>
                    <a class="dropdown-item">(pretty and to the point)</a>

                    <a class="dropdown-item"> <%= link_to "Vanilla", asset_path("Quesenberry_2018_vanilla_resume.pdf", skip_pipeline: true), class: "dropdown-item-bold", target: "_blank" %></a>
                    <a class="dropdown-item">(more details, less visuals)</a>
                  </div>
          </li>
          <li class="nav-item dropdown">
              <span class="nav-link dropdown-toggle" id="contact-me-dropdown-menu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Contact
              </span>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="contact-me-dropdown-menu">
                  <span style="float:right">(970) 405-7910</span>
                  <span style="float:right">joshqberry@gmail.com</span>
                  <ul class="list-inline">

                    <a href="http://www.twitter.com/joshqberry" target="_blank">
                    <li class="list-inline-item fa fa-twitter" style="cursor:pointer; font-size:30px; margin-right:30px"></li>
                    </a>

                    <a href="http://www.linkedin.com/in/joshqberry" target="_blank">
                    <li class="list-inline-item fa fa-linkedin" style="cursor:pointer; font-size:30px; margin-right:30px"></li>
                    </a>

                    <a href="https://github.com/joshqberry" target="_blank">
                    <li class="list-inline-item fa fa-github" style="cursor:pointer; font-size:30px"></li>
                    </a>

                  </ul>
              </div>
          </li>

      </ul>
  </div>
  <!-- end navbar-collapse -->
  </nav>
  <!-- end navbar -->


  <section id="skills" style="margin-top:45px">
      <div class="container" id="blah">

      <!-- start section title -->
      <div class="row">
        <div class="col-md-8 col-lg-6 offset-md-2 offset-lg-3">
          <div class="section-title">
            <h4>Skill sets</h4>
            <p class="lead">Raised on Rails and Ruby.</p>
            <p class="lead">Experienced with a lot more.</p>
          </div>
        </div>
      </div>
      <!-- end section title-->

      <section id="skill-filter-nested" data-jarallax='{"speed": 0.2}'>
          <div class="container">

          <ul class="filter-list list-inline text-center" style="margin-bottom:45px">
              <li data-filter=".front-end">Front end (and graphic design) </li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <li data-filter=".back-end">Back end </li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <li data-filter=".more">More</li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <li class="is-checked" data-filter="*">All skill sets</li>
          </ul>


    <div class="row filter-row popup-row">

      <div class=" more col-md-4 col-sm-6 col-lg-3 filter-item filter-item-small">
          <%= image_tag "arduino-logo.svg" %>
      </div>

      <div class=" front-end col-md-4 col-sm-6 col-lg-3 filter-item filter-item-small" >
          <%= image_tag "bootstrap-4-new.svg" %>
      </div>

      <div class=" front-end  col-md-4 col-sm-6 col-lg-3 filter-item filter-item-small" >
          <%= image_tag "creative-cloud.svg" %>
      </div>

      <div class=" front-end  col-md-4 col-sm-6 col-lg-3 filter-item filter-item-small" >
          <%= image_tag "css-3.svg" %>
      </div>

      <div class=" front-end col-md-4 col-sm-6 col-lg-3 filter-item filter-item-small" >
          <%= image_tag "js-5.svg" %>
      </div>

      <div class=" more app col-md-4 col-sm-6 col-lg-3 filter-item filter-item-small" style="width:350px">
          <%= image_tag "pivotal-tracker.svg", style:"margin-right:-70px" %>
      </div>

      <div class=" more app col-md-4 col-sm-6 col-lg-3 filter-item filter-item-small" >
          <%= image_tag "git.svg" %>
      </div>

      <div class=" front-end app col-md-4 col-sm-6 col-lg-3 filter-item filter-item-small" >
          <%= image_tag "html-5.svg" %>
      </div>

      <div class=" back-end development col-md-4 col-sm-6 col-lg-3 filter-item filter-item-small" >
          <%= image_tag "rails-logo.svg" %>
      </div>

      <div class=" back-end app col-md-4 col-sm-6 col-lg-3 filter-item filter-item-small" >
          <%= image_tag "ruby.svg" %>
      </div>

      <div class="  front-end app col-md-4 col-sm-6 col-lg-3 filter-item filter-item-small">
          <%= image_tag "sass-1.svg" %>
      </div>

      <div class=" front-end app col-md-4 col-sm-6 col-lg-3 filter-item filter-item-small" >
          <%= image_tag "adobe-illustrator-cc.svg" %>
      </div>

      <div class=" back-end app col-md-4 col-sm-6 col-lg-3 filter-item filter-item-small" >
          <div class="work-card">
              <div class="comingsoon">
                  <%= image_tag "angular.svg" %>
                    <div class="work-overlay">
                      <div class="comingsoontext">
                          <h3>Angular</h3>
                          <p style="margin-left:35px"><em>Coming soon!</em></p>
                      </div>
                  </div>
              </div>
        </div>
      </div>

      <div class=" front-end app col-md-4 col-sm-6 col-lg-3 filter-item filter-item-small">
          <%= image_tag "indesign-cc.svg" %>
      </div>

      <div class=" back-end  app col-md-4 col-sm-6 col-lg-3 filter-item filter-item-small">
          <%= image_tag "node-new.svg" %>
      </div>

      <div class=" front-end app col-md-4 col-sm-6 col-lg-3 filter-item filter-item-small">
          <%= image_tag "photoshop-cc.svg" %>
      </div>

      <div class=" back-end app col-md-4 col-sm-6 col-lg-3 filter-item filter-item-small" >
          <div class="work-card">
              <div class="comingsoon">
                  <%= image_tag "react.svg" %>
                    <div class="work-overlay">
                      <div class="comingsoontext">
                          <h3>React</h3>
                          <p style="margin-left:35px"><em>Coming soon!</em></p>
                      </div>
                  </div>
              </div>
        </div>
      </div>

      <div class=" front-end app col-md-4 col-sm-6 col-lg-3 filter-item filter-item-small" style="width:250px">
          <%= image_tag "jquery.svg" %>
      </div>

      <div class=" back-end app col-md-4 col-sm-6 col-lg-3 filter-item filter-item-small" >
          <%= image_tag "postgresql.svg" %>
      </div>


    </div>
    <!-- end filter-row -->
    </section>
    <!-- end skill-filter-nested section -->
    </div>
    <!-- end skills container-->
    </section>
    <!-- end skills section-->


  <!-- <section id="featured-project"> -->
  <!-- section divider is screwing up video height. Grayed out for now. -->

    <div class="hero heroFullscreen bg-parallax" data-jarallax-video="https://www.youtube.com/watch?v=KpllAjxOIUU" data-jarallax-original-styles="null">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 mb30 wow fadeIn" style="margin-top:50px" data-wow-duration=".5s" data-wow-delay="3s">

                    <div class="media-body featured-project-hed" >
                        <h3 class="display-4 text-white" style="margin-bottom:15px">Pongthing</h3>
                        <p class='text-small' style="margin-bottom:25px">A scoring system for table tennis. </p>
                        <a href="" class="video-modal btn btn-lg btn-white-outline" style="border:5px solid">Project loading soon.</a>
                    </div>

                </div>
            </div>
        </div>
        <!-- end container for featured project text -->
    </div>
    <!-- end video div -->


  <!-- </section> (need to de-grey once error is fixed)-->
  <!-- end featured project section -->




    <section id="portfolio" data-jarallax='{"speed": 0.2}' style="margin-bottom:-50px">
        <div class="container" id="blah2">

            <div class="row">
                <div class="col-md-8 col-lg-6 offset-md-2 offset-lg-3">
                    <div class="section-title" style="margin-bottom: -10px">
                        <h4>Portfolio</h4>
                    </div>
                </div>
            </div>

            <ul class="filter-list list-inline text-center">
                <li class="is-checked" data-filter="*">All</li>
                <li data-filter=".database">Using databases</li>
                <li data-filter=".APIs">Using APIs</li>
                <li data-filter=".other">Other</li>
            </ul>

            <div class="row filter-row popup-row">

            <div class=" database APIs col-md-4 col-sm-6 col-lg-3 filter-item project-pic-filter-item">
                <div class="work-card" >
                    <div class="comingsoon">

                    <%= image_tag("placeholder.jpg", title: "work 1", class: "foliopic" ) %>
                    <div class="work-overlay">
                        <div class="comingsoontext">
                        <h3>PROJECT 1</h3>
                        <p style="text-align:center"><em>Loading soon!</em></p>
                        </div>
                    </div>

                    </div>
                    <!-- end coming soon -->
                </div>
                <!-- end work card -->
            </div>
            <!-- end filter-item -->



              <div class="database other col-md-4 col-sm-6 col-lg-3 filter-item project-pic-filter-item">
                  <div class="work-card" >
                      <div class="comingsoon">

                          <%= image_tag("placeholder.jpg", title: "work 1", class: "foliopic" ) %>
                          <div class="work-overlay">
                              <div class="comingsoontext">
                              <h3>PROJECT 2</h3>
                              <p style="text-align:center"><em>Loading soon!</em></p>
                              </div>
                          </div>

                      </div>
                      <!-- end coming soon -->
                  </div>
                  <!-- end work card -->
                </div>
                <!-- end filter-item -->


                  <div class=" other APIs col-md-4 col-sm-6 col-lg-3 filter-item project-pic-filter-item">
                    <div class="work-card" >
                        <div class="comingsoon">

                            <%= image_tag("placeholder.jpg", title: "work 1", class: "foliopic" ) %>
                            <div class="work-overlay">
                                <div class="comingsoontext">
                                <h3>PROJECT 3</h3>
                                <p style="text-align:center"><em>Loading soon!</em></p>
                                </div>
                            </div>

                        </div>
                        <!-- end coming soon -->
                    </div>
                    <!-- end work card -->
                  </div>
                  <!-- end filter-item -->



                  <div class=" database APIs col-md-4 col-sm-6 col-lg-3 filter-item project-pic-filter-item">
                    <div class="work-card" >
                        <div class="comingsoon">

                            <%= image_tag("placeholder.jpg", title: "work 1", class: "foliopic" ) %>
                            <div class="work-overlay">
                                <div class="comingsoontext">
                                <h3>PROJECT 4</h3>
                                <p style="text-align:center"><em>Loading soon!</em></p>
                                </div>
                            </div>

                        </div>
                        <!-- end coming soon -->
                    </div>
                    <!-- end work card -->
                  </div>
                  <!-- end filter-item -->


                  <div class=" other APIs col-md-4 col-sm-6 col-lg-3 filter-item project-pic-filter-item">
                    <div class="work-card" >
                        <div class="comingsoon">

                            <%= image_tag("placeholder.jpg", title: "work 1", class: "foliopic" ) %>
                            <div class="work-overlay">
                                <div class="comingsoontext">
                                <h3>PROJECT 5</h3>
                                <p style="text-align:center"><em>Loading soon!</em></p>
                                </div>
                            </div>

                        </div>
                        <!-- end coming soon -->
                    </div>
                    <!-- end work card -->
                  </div>
                  <!-- end filter-item -->

                  <div class=" database col-md-4 col-sm-6 col-lg-3 filter-item project-pic-filter-item">
                    <div class="work-card" >
                        <div class="comingsoon">

                            <%= image_tag("placeholder.jpg", title: "work 1", class: "foliopic" ) %>
                            <div class="work-overlay">
                                <div class="comingsoontext">
                                <h3>PROJECT 6</h3>
                                <p style="text-align:center"><em>Loading soon!</em></p>
                                </div>
                            </div>

                        </div>
                        <!-- end coming soon -->
                    </div>
                    <!-- end work card -->
                  </div>
                  <!-- end filter-item -->

                  <div class=" database other col-md-4 col-sm-6 col-lg-3 filter-item project-pic-filter-item">
                    <div class="work-card" >
                        <div class="comingsoon">

                            <%= image_tag("placeholder.jpg", title: "work 1", class: "foliopic" ) %>
                            <div class="work-overlay">
                                <div class="comingsoontext">
                                <h3>PROJECT 7</h3>
                                <p style="text-align:center"><em>Loading soon!</em></p>
                                </div>
                            </div>

                        </div>
                        <!-- end coming soon -->
                    </div>
                    <!-- end work card -->
                  </div>
                  <!-- end filter-item -->

                  <div class=" database APIs col-md-4 col-sm-6 col-lg-3 filter-item project-pic-filter-item">
                    <div class="work-card" >
                        <div class="comingsoon">

                            <%= image_tag("placeholder.jpg", title: "work 1", class: "foliopic" ) %>
                            <div class="work-overlay">
                                <div class="comingsoontext">
                                <h3>PROJECT 8</h3>
                                <p style="text-align:center"><em>Loading soon!</em></p>
                                </div>
                            </div>

                        </div>
                        <!-- end coming soon -->
                    </div>
                    <!-- end work card -->
                  </div>
                  <!-- end filter-item -->

            </div>
            <!--end filter-row-->
        </div>
        <!-- end portfolio container-->
    </section>
    <!-- end portfolio section -->

    <section id="softskills">
        <div class="container" id="blah3">
            <div style="background-color: lightgrey">
                <div class="container" style="padding-top:40px">

                <div class="row">
                    <div class="col-md-8 col-lg-6 offset-md-2 offset-lg-3">
                        <div class="section-title">
                            <h4>Stellar &nbsp; soft &nbsp; skills</h4>
                            <p class="lead" style="margin-bottom:35px">A full-stack human, <br>great at collaboration and communication.</p>
                       </div>
                    </div>
                </div>


                <div class="row softskills-row">

                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="softskills-icon">
                          <i class="fa fa-users" style="color:red" aria-hidden="true"></i>
                        </div>
                          <h3 class="text-capitalize">Collaborative</h4>
                          <p style="color:black">A great team player</p>
                    </div>

                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="softskills-icon">
                          <i class="fa fa-volume-control-phone" style="color:red" aria-hidden="true"></i>
                        </div>
                          <h3 class="text-capitalize">Communicative</h4>
                          <p style="color:black">Excellent verbal and written communicative skills</p>
                      </div>

                    <div id="softskills-bloc" class="col-lg-3 col-md-6 text-center">
                        <div class="softskills-icon">
                          <i class="fa fa-cogs" style="color:red" aria-hidden="true"></i>
                        </div>
                          <h3 class="text-capitalize">Constructive</h4>
                        <p style="color:black">Excellent analytical skills</p>
                        <p style="color:black">Fully comfortable with providing training or presenting projects in group settings</p>
                    </div><!--/col-->

                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="softskills-icon">
                          <i class="fa fa-plus" style="color:red" aria-hidden="true"></i>
                        </div>
                          <h3 class="text-capitalize">And also</h4>
                        <p style="color:black">Bilingual (English/Spanish)</p>
                    </div>

                </div>
                <!-- end softskills-row -->
              </div>
              <!-- end container for softskills icons and text -->
          </div>
          <!-- end background color div -->
      </div>
      <!-- end softskills container -->
    </section>
    <!-- end softskills section -->

    <footer id="footer" class="footer">
        <div class="container">

            <div style="text-align:center; height:20px; margin-top:-20px; margin-bottom:5px">
                <span style="font-size:23px">
                &#x3c;----- Let's connect! ----->
                </span>
            </div>

            <div class="row" style="font-size:10px; margin-left:-50px">
                <div class="col-md-12 text-center">
                    <ul class="list-inline">

                      <a href="http://www.twitter.com/joshqberry" target="_blank">
                      <li class="list-inline-item fa fa-twitter" style="cursor:pointer; font-size:30px; margin-right:30px"></li>
                      </a>

                      <a href="http://www.linkedin.com/in/joshqberry" target="_blank">
                      <li class="list-inline-item fa fa-linkedin" style="cursor:pointer; font-size:30px; margin-right:30px"></li>
                      </a>

                      <a href="https://github.com/joshqberry" target="_blank">
                      <li class="list-inline-item fa fa-github" style="cursor:pointer; font-size:30px"></li>
                      </a>

                    </ul>
                </div>
                <!-- end col-md-12 -->
            </div>
            <!-- end row of icons -->
        </div>
        <!-- end footer container -->
    </footer>
